.monitoring-nav-buttons {
  top: 0;
  left: 0;
  right: auto;
  margin-top: 10px;
  margin-left: 10px;
  height: fit-content;

  .nav-buttons-segment {
    height: 38px;

    .ant-segmented-item-label {
      line-height: 34px;
    }
  }
}
