.nutrition-facts-modal {
  max-width: 480px;
  width: 100%;

  .ant-modal-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .ant-modal-body {
    padding-top: 30px;
  }

  .nutrition-facts-container {
    h3 {
      font-size: 22px;
      margin-bottom: 14px;
    }

    .nutrition-facts-details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;

      .nutrition-facts-details-item-label {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
      }

      .nutrition-facts-details-item-value {
        font-size: 16px;
        margin-bottom: 4px;
      }
    }
  }
}
