.nutrition-facts-page {
  .header-container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 12px;
    text-align: center;

    .header-search {
      width: 40%;
    }
  }

  .content-container {
    padding: 10px 5px 10px 5px;
  }

  .pagination-container {
    max-width: 200px;
    background: #1677ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .ant-pagination-simple,
    .ant-pagination-item-link {
      color: #fff;
      font-size: 16px;
    }

    .ant-pagination-simple-pager {
      font-size: 15px;
    }
  }
}
